Source: energenie
Maintainer: Ben Nuttall <ben@raspberrypi.org>
Homepage: http://pypi.python.org/pypi/energenie
Section: python
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), python-all (>= 2.7), python-setuptools, python3-all, python3-setuptools
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2

Package: python-energenie
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-rpi.gpio
Description: Remotely control power sockets from the Raspberry Pi
 .
 This is the Python 2 version of the package.

Package: python3-energenie
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-rpi.gpio
Description: Remotely control power sockets from the Raspberry Pi
 .
 This is the Python 3 version of the package.
